*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	height: auto;
}

@font-face{
	font-family:'cooperhewitt';
	src:url('../fonts/cooper/CooperHewitt-Book.otf');
}
/**********HOMEPAGE**********/
/**********HOMEPAGE**********/
/**********HOMEPAGE**********/
/*HEADER*/
		.header{
			background-color: #000;
			opacity: 0.8;
			position: fixed;
			width: 100%;
			z-index: 1000;
		}

		.headercontainer{
			display: flex;
			margin: 0 auto;
			width: 90%;
			z-index: 10000;
		}

		.links{
			display: flex;
			align-items: center;
			width: 80%;
		}
		.links ul{
			display: flex;
			list-style: none;
		}

		.links a{
			color: white;
			font-family: 'Rye';
			font-size: 16px;
			text-decoration: none;
		}

		.links li{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
		}

		#yellowlogo img{
			width: 40%;
			
		}

		.socialmedia{
			display: flex;
			width: 20%;
		}
		.icons{
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 0 auto;
			width: 50%;
			height: 100%;
		}

		.icons i{
			color: white;
			padding: 20px 25px;
		}

		.fblogo, .phonelogo, .iglogo{
			border-top: 2px solid #000;
			border-bottom: 1px solid #000;
			transition: 0.5s;
		}
		.fblogo:hover{
			background-color: #3b5998;
			border-top: 2px solid #3b5998;
			border-bottom: 1px solid #3b5998;
			text-align: center;
			transition: 0.3;
			
		}
		.phonelogo:hover{
			color: #fff;
			background-color: #a6b1b7;
			border-top: 2px solid #a6b1b7;
			border-bottom: 1px solid #a6b1b7;
		}

		.iglogo:hover{
			background-color: #c32aa3;
			border-top: 2px solid #c32aa3;
			border-bottom: 1px solid #c32aa3;
		}
/*JUMBOTRON*/
/*BACKGROUND VIDEO*/
		.jumbotron{
			margin-bottom: -4px;
		}
		#mainVideo{
			opacity: 0.7;
			width: 100%;
		}

		.jumboimage{
			position: absolute;
			text-align: center;
			top: 125px;
			width: 100%;
		}

		.jumboimage img{
			width: 45%;
		}
/*ABOUT US*/
		.aboutus{
			background-color: #a6941b;
			background-image: url(http://www.transparenttextures.com/patterns/arabesque.png);
		}
		.aboutcontainer{
			display: flex;
			margin: 0 auto;
			width: 80%;
		}
		.aboutusphoto{
			width: 40%;
			margin-bottom: -4px;
		}

		.aboutustext{
			margin: 0 auto;
			padding-top: 100px;
			text-align: center;
			width: 40%;
		}

		.aboutustext h1{
			color: #fff;
			font-family: 'Rye';
			font-size: 72px;
		}

		.aboutustext p{
			font-family: 'cooperhewitt';
			font-size: 24px;
			padding-top: 50px;
			width: %;
		}
/*INSTAGRAM*/
		.instaposition{
			background-color: #3F1212;
			background-image: url(http://www.transparenttextures.com/patterns/brick-wall-dark.png);
			margin: 0 auto;
			width: 100%;
		}

		.instafeed{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.instafeed img{
			width: 95%;
			padding: 40px 10px;
		}

		.instafeed img:hover{
			opacity: 0.4;
		}
/*FOOTER*/
		.footer{
			color: white;
			background-color: black;
			font-family: 'cooperhewitt';
		}

		.footercontainer{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 auto;
			padding: 40px 0;
			width: 60%;
		}

		.footer a{
			color: white;
		}

		.footer img{
			height: 8%;
			width: 8%;
		}
/**********CATERING**********/
/**********CATERING**********/
/**********CATERING**********/
		.catering{
			background-image: url("../media/images/carbackground.jpg");
			background-size: cover;
			background-position: 
			background-repeat: no-repeat;
			height: auto;
			width: 100%;
		}

		.form{
			display: flex;
			font-family: 'cooperhewitt';
			margin: 0 auto;
			width: 80%;
		}
		.formcontainer{
			background-color: rgba(0,0,0,0.5);
			color: white;
			margin: 59px auto 0 auto;
			padding: 20px 0 15px 0;
			width: 100%;	
		}
		.formcontent, .formheading{
			padding-left: 50px;
			z-index: 100000;
		}
		.formcontent input{
			font-family: 'cooperhewitt', arial;
			font-size: 16px;
			margin-bottom: 10px;
			outline: none;
			padding: 5px 0 0 10px;
			width: 53%;
		}
		#textarea{
			margin-bottom: 10px;
			padding: 5px 0;
			width: 54.5%;
		}
		#cateringsubmit{
			background-color: #000;
			color: white;
			padding-right: 5px;
			width: 10%;
		}

		#cateringsubmit:hover{
			background-color: #a6941b; 
			color: black;
			cursor: pointer;
		}

