*{
	margin: 0;
	padding: 0;
}

body{
	overflow-x: hidden;
}

@font-face{
	font-family:'cooperhewitt';
	src:url('../fonts/cooper/CooperHewitt-Book.otf');
}

@font-face{
	font-family:'cooperhewittbold';
	src:url('../fonts/cooper/CooperHewitt-Bold.otf');
}
/**********HOMEPAGE**********/
/**********HOMEPAGE**********/
/**********HOMEPAGE**********/
/*HEADER*/
		header{
			background-color: #000;
			height: 60px;
			opacity: 0.8;
			position: fixed;
			width: 100%;
			z-index: 1000;
		}

		.headercontainer{
			display: flex;
			height: 60px;
			margin: 0 auto;
			width: 90%;
			z-index: 10000;
		}

		.links{
			display: flex;
			align-items: center;
			width: 80%;
		}
		.links ul{
			display: flex;
			list-style: none;
		}

		.links a{
			color: white;
			font-family: 'Rye';
			font-size: 16px;
			text-decoration: none;
		}

		.links li{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
		}

		#yellowlogo img{
			width: 40%;
		}

		.socialmedia{
			display: flex;
			height: 60px;
			width: 20%;
		}
		.icons{
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 0 auto;
			width: 50%;
			height: 100%;
		}

		.icons i{
			color: white;
			padding: 20px 25px;
		}

		.fblogo, .phonelogo, .iglogo{
			border-top: 2px solid #000;
			transition: 0.5s;
		}
		.fblogo:hover{
			background-color: #3b5998;
			border-top: 2px solid #3b5998;
			text-align: center;
			transition: 0.3;
			
		}
		.phonelogo:hover{
			color: #fff;
			background-color: #a6b1b7;
			border-top: 2px solid #a6b1b7;
		}

		.iglogo:hover{
			background-color: #c32aa3;
			border-top: 2px solid #c32aa3;
		}
/*JUMBOTRON*/
/*BACKGROUND VIDEO*/
		.jumbotron{
			margin-bottom: -4px;
		}
		video{
			opacity: 0.7;
			width: 100%;
		}

		.jumboimage{
			position: absolute;
			text-align: center;
			top: 125px;
			width: 100%;
		}

		.jumboimage img{
			width: 45%;
		}
/*ABOUT US*/
		.aboutus{
			background-color: #a6941b;
			background-image: url(http://www.transparenttextures.com/patterns/arabesque.png);
		}
		.aboutcontainer{
			display: flex;
			margin: 0 auto;
			width: 100%;
		}

		.aboutustext{
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			margin: 0 auto;
			text-align: center;
			width: 50%;
		}

		.aboutustext h1{
			color: #fff;
			font-family: 'Rye';
			font-size: 52px;
			padding-top: 20px;
		}

		.aboutustext p{
			color: #fff;
			font-family: 'cooperhewitt';
			font-size: 16px;
			padding: 20px 0;
		}

		.photocontainer{
			max-width: 45%;
			margin: auto;
		}
/*INSTAGRAM*/
		.instaposition{
			background-color: #3F1212;
			background-image: url(http://www.transparenttextures.com/patterns/brick-wall-dark.png);
			margin: 0 auto;
			width: 100%;
		}

		.instafeed{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.instafeed img{
			width: 95%;
			padding: 40px 10px;
		}

		.instafeed img:hover{
			opacity: 0.4;
		}
/*FOOTER*/
		.footer{
			color: white;
			background-color: black;
			font-family: 'cooperhewitt';
		}

		.footercontainer{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 auto;
			padding: 40px 0;
			width: 90%;
		}

		.footer a{
			color: white;
		}

		.footer img{
			height: 8%;
			width: 8%;
		}
/**********CATERING**********/
/**********CATERING**********/
/**********CATERING**********/
		.catering{
			background-image: url("../media/images/carbackground.jpg");
			background-size: cover;
			background-position: 
			background-repeat: no-repeat;
			height: auto;
			width: 100%;
		}

		.form{
			display: flex;
			font-family: 'cooperhewitt';
			margin: 0 auto;
			width: 80%;
		}
		.formcontainer{
			background-color: rgba(0,0,0,0.5);
			color: white;
			margin: 59px auto 0 auto;
			padding: 20px 0 10px 0;
			width: 100%;	
		}
		.formcontent, .formheading{
			padding-left: 50px;
			z-index: 100000;
		}
		.formcontent input{
			font-family: 'cooperhewitt', arial;
			font-size: 16px;
			margin-bottom: 10px;
			outline: none;
			padding: 5px 0 0 10px;
			width: 53%;
		}

		.formcontent span{
			color: red;
		}
		#textarea{
			font-size: 16px;
			margin-bottom: 10px;
			padding: 5px 0 0 10px;
			width: 53.3%;
		}
		#cateringsubmit{
			background-color: #000;
			color: white;
			padding-right: 5px;
			width: 10%;
		}

		#cateringsubmit:hover{
			background-color: #a6941b; 
			color: black;
			cursor: pointer;
		}
/**********MENU**********/
/**********MENU**********/
/**********MENU**********/
		.menubody{
			background-image: url("../media/images/peppersbackground.jpg");
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			height: auto;
			width: 100%;
		}

		.menu{
			display: flex;
			font-family: 'cooperhewitt';
			margin: 0 auto;
			width: 80%;	
		}

		.menucontainer{
			background-color: rgba(216,96,61,0.9);
			color: white;
			margin: 59px auto 0 auto;
			padding: 20px 0 10px 0;
			width: 100%;	
		}	
		.menusection{
			margin: 0 auto;
			width: 90%;
		}

		.menusectionleft, .menusectionright{
			width: 45%;
		}
		.menusection1{
			display: flex;
			justify-content: space-between;
		}

		.menusection h1{
			font-family: 'Rye';
		}
		.menusection h3{
			font-family: 'cooperhewittbold';
		}
		#topitem{
			padding-top: 20px;
		}

		#bottomitem{
			padding-bottom: 50px;
		}
		#dotted{
			border-bottom: 8px dotted #fff;
			padding-bottom: 10px;
		}

		#yourchoiceof{
			padding-top: 20px;
		}
		.lalos{
			background-color: rgba(255, 255, 255, 0.9);
			padding: 10px;
		}

		.laloscontainer{
			border: 5px dotted;
			color: #D8603D;
			margin: 0 auto;
			padding: 10px;
		}
/**********CONTACT**********/
/**********CONTACT**********/
/**********CONTACT**********/
		.contactbody{
			background-image: url("../media/images/umbrellas.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			height: auto;
			width: 100%;
		}

		.contact{
			display: flex;
			font-family: 'cooperhewitt';
			margin: 0 auto;
			width: 80%;	
		}

		.contactcontainer{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: rgba(86,168,143,0.9);
			color: white;
			margin: 59px auto 0 auto;
			padding: 20px 0 51px 0;
			width: 100%;	
		}	

		.contactlogo{
			display: flex;
			justify-content: center;
		}
		.contactlogo img{
			height: 25%;
			width: 25%;
		}

		.contactform{
			display: flex;
		}

		.contactbody .formcontainer{
			background-color: transparent;
			padding: 0;
		}

		.contactbody .formcontainer .formheading{
			display: flex;
			justify-content: center;
			padding: 0;
		}

		.contactbody .formcontainer .formcontent{
			padding: 0;
		}

		.contactbody .formcontainer h1{
			padding-bottom: 20px;
		}

		.contactcolumns{
			display: flex;
			justify-content: center;
		}

		.contactcolumns input{
			width: 360px;
		}

		.contactright{
			padding-left: 20px;
		}

		.contactmessage{
			display: flex;
			justify-content: center;
		}
		.contactbody #textarea{
			padding: 10px 0 10px 10px;
			width: 760px;
		}

		.contactbody #cateringsubmit{
			background-color: #000;
			color: white;
			padding-right: 10px;
			width: 10%;
		}

		#cateringsubmit:hover{
			background-color: #a6941b; 
			color: black;
			cursor: pointer;
		}

/**********DELIVERY**********/
/**********DELIVERY**********/
/**********DELIVERY**********/

/*DELIVERY HOVER*/
		#deliverytab:hover + .vendormain{
			display: block;
		}
		.vendormain{
			display: none;
		}
		.vendorscontainer{
			align-items: center;
			background-color: rgba(86,168,143);
			display: block;
			margin: 59px auto 0 auto;
			padding-top: 5px;
			position: absolute;
			z-index: 200000;	
		}

		.vendorslogos{
			display: flex;
			align-items: center;
			margin: 0 auto;
			padding-left: 50px;
			width: 80%;
		}

		.vendorimages{
			text-align: center;
			width: 25%;
		}

		.vendorimages img{
			width: 60%;
		}

	
		#grubhub{
			width:40%;
		}





